@import "../../../abstract/variables";

.team_over_view {
  .rf_dash_content_item {
    width: 100%;
    .rf_dash_content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      margin-top: 20px;
      grid-gap: 15px;
      .rf_dash_card_wrapper {
        position: relative;
        padding: 22px 22px;
        background-color: $bg-white;
        box-shadow: $box-shadow-1;
        transition: all 0.3s ease-in-out;
        border: $border-1;
        border-radius: 10px;
        // transition: transform .5s; /* Animation */
        // z-index: 1;
        // &:hover{
        //   box-shadow: $box-shadow-3;
        // }
        .rf_content {
          display: flex;
          align-items: center;
          transition: all 0.3s ease-in-out;
          justify-content: space-between;
          @include breakpoints(largeLaptop) {
            justify-content: space-between;
          }
          .rf_widget_info {
            p {
              color: $text-p-color;
              margin-bottom: 5px !important;
              font-size: 20px;
            }
            h2 {
              font-size: 16px;
              color: $text-p-color;
              margin-bottom: 10px !important;
            }
            a {
              color: $text-black;
              font-size: 13px;
              text-transform: capitalize;
              font-weight: 500;
              &:hover {
                color: $text-menu-active-color;
              }
            }
          }
          .rf_widget_icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding: 0px;
            order: 2;
            margin-right: 0px;
            // @include breakpoints(largeLaptop) {
            //   order: 2;
            // }
            svg {
              color: #fff;
              font-size: 30px;
              border-radius: 50px;
              padding: 10px;
            }
          }
        }
        .cardBottom {
          margin-top: 0px;
          .bottom_content {
            ul {
              list-style: none;
              margin: 0px;
              padding: 0px;
              margin-left: 11px;
              display: flex;
              flex-wrap: wrap;
              li {
                position: relative;
                margin-right: 20px;
                font-size: 16px;
                color: $text-p-color;
                &::before {
                  position: absolute;
                  content: "";
                  width: 5px;
                  height: 5px;
                  background: #38cab3;
                  border-radius: 50%;
                  top: 38%;
                  left: -11px;
                }
              }
            }
          }
        }
      }
    }
    .rf_dashboard_chart {
      margin-top: 20px !important;
      // margin-right: 10px !important;
      padding-top: 10px !important;
      @include breakpoints(largeLaptop) {
        margin-right: 0px !important;
      }
    }
  }
}
