@import "../../../responsive/breakpoints";
@import "../../../abstract/variables";
@import "../../UserContainer/userProfilePage/updatePassword";

.blocked_menber {
  color: rgb(93, 164, 93);
}

// @mixin title {
//   text-align: start;
//   margin-bottom: 20px;
//   h2 {
//     font-size: 18px;
//     text-transform: capitalize;
//     color: $text-p-color;
//     transition: all 0.3s ease-in-out;
//   }
// }
// @mixin card {
//   padding: 25px;
//   min-height: 250px;
// }

.tp_updatepassword_page_wrapper {
  margin-top: 20px;
  .tp_accountpassword_card {
    @include card();
    .tp_accountpassword_title {
      @include title();
    }
    .tp_accountpassword_field {
      form {
        @include form();
        .left {
          margin-right: 33px !important;
          @include breakpoints(portraitTablet) {
            margin-right: 16px !important;
          }
        }
        .input_group {
          width: 50%;
          @include breakpoints(portraitTablet) {
            width: auto;
            margin: 10px 0;
          }
        }
        .show_password {
          input[type="checkbox" i] {
            width: 15px;
            height: 14px;
          }
          label {
            font-size: 13px;
            margin-left: 10px;
            text-transform: capitalize;
            color: $text-p-color;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    .team_over_view {
      .tp_dash_content_item {
        width: 100%;
        .tp_dash_content {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          margin-top: 20px;
          grid-gap: 15px;
          .rf_dash_card_wrapper {
            position: relative;
            padding: 22px 22px;
            background-color: $bg-white;
            box-shadow: $box-shadow-1;
            transition: all 0.3s ease-in-out;
            border: $border-1;
            border-radius: 10px;
            .rf_content {
              display: flex;
              align-items: center;
              transition: all 0.3s ease-in-out;
              justify-content: space-between;
              @include breakpoints(largeLaptop) {
                justify-content: space-between;
              }
              .rf_widget_info {
                p {
                  color: $text-p-color;
                  margin-bottom: 5px !important;
                  font-size: 20px;
                }
                h2 {
                  font-size: 16px;
                  color: $text-p-color;
                  margin-bottom: 10px !important;
                }
                a {
                  color: $text-black;
                  font-size: 13px;
                  text-transform: capitalize;
                  font-weight: 500;
                  &:hover {
                    color: $text-menu-active-color;
                  }
                }
              }
              .rf_widget_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                padding: 0px;
                order: 2;
                margin-right: 0px;
                svg {
                  color: #fff;
                  font-size: 30px;
                  border-radius: 50px;
                  padding: 10px;
                }
              }
            }
            .cardBottom {
              margin-top: 0px;
              .bottom_content {
                ul {
                  list-style: none;
                  margin: 0px;
                  padding: 0px;
                  margin-left: 11px;
                  display: flex;
                  flex-wrap: wrap;
                  li {
                    position: relative;
                    margin-right: 20px;
                    font-size: 16px;
                    color: $text-p-color;
                    &::before {
                      position: absolute;
                      content: "";
                      width: 5px;
                      height: 5px;
                      background: #38cab3;
                      border-radius: 50%;
                      top: 38%;
                      left: -11px;
                    }
                  }
                }
              }
            }
          }
        }
        .rf_dashboard_chart {
          margin-top: 20px !important;
          // margin-right: 10px !important;
          padding-top: 10px !important;
          @include breakpoints(largeLaptop) {
            margin-right: 0px !important;
          }
        }
      }
    }
  }
}
